<footer class="sticky-footer">
    <div class="col-xs-1 col-xs-offset-8">
        <input id="back-to-top" type="button" class="btn btn-primary btn-xs" data-placement="right" value="▲" />
    </div>
    <div class="col-xs-1">
        <input id="back-to-down" type="button" class="btn btn-primary btn-xs" data-placement="right" value="▼" />
    </div>
</footer>
        </div>
